.exchange-container{
    height: 700px;
    width: 100%;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.8rem;
    background-color: white;
    font-weight: bold;
}