$text : 1.6rem;
$textpad : 0.8rem;
$trans : 0.2s;
$boxshadow : 1rem;
$OleoFont : 'Oleo Script', cursive;
$topFont : 'Merienda', cursive;
$inboxshadow : 1.2rem;
$bg-color : rgb(29, 22, 48);
$primary : rgb(201, 6, 6);