*{
    box-sizing: border-box;
}


.cryptonew-grid-container{

    .cryptonew-grid-item{

        .cryptonew-wrapper{

            padding: 1.3rem;
            padding-bottom: 1.5rem;

            .cryptonew-card-container{

                padding: 0.3rem;
                border-radius: 2px;
                background-color: rgb(29, 22, 48);
                transition: all 0.1s ease-in-out;

                // @media screen and (max-width : 1100px) {
                //     height:  350px;
                // }

                // @media screen and (max-width : 992px) {
                //     height: 330px;
                // }
                // @media screen and (max-width : 768px) {
                //     height: 320px;
                // }
                // @media screen and (max-width : 576px) {
                //     height: 200 px;
                // }
                &:hover{
                    box-shadow: 0 0 0.5rem rgb(151, 149, 149);
                    transition: all 0.1s ease-in-out;
                }

                display: flex;

                // a{
                    text-decoration: none;
                    color: rgb(224, 224, 224);

                    .content-box{
                        
                        .title-box{
                         display: flex;
                         align-items: center;
                         justify-content: space-between;
                         height: 100px;
                         overflow: hidden;
                         background-color: black;
                         padding: 0.2rem;
                         border-radius: 1px;

                         .title-text{   
                            color: rgb(255, 255, 255);
                            font-size: 0.85rem;

                            @media screen and (max-width : 992px) {
                                font-size: 1rem;
                            }

                         }
                         .image{
                            width: 100px;
                            height: 100px;
                         }
                        }
                        .p{
                            margin-top: 1rem;
                            position: relative;

                            .sm-btn{
                                border: none;
                                // outline: none;
                                background-color: rgb(187, 183, 183);   
                                border-radius: 10px;
                                cursor: pointer;
                                position: absolute;
                                display: flex;
                                align-items: center;
                                right: 0;
                                top : 110%;

                                .btn-a{
                                    text-decoration: none;
                                    color: black;
                                    font-weight: bold;
                                }
                            }
                        }
                        .provider-container{

                            .provider-wrapper{
                                margin-top: 1rem;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .provider-text{
                                    font-size: 0.8rem;
                                }

                                .avatar-box{

                                    display: flex;
                                    align-items: center;

                                    .avatar{
                                        transform: scale(0.8);
                                    }
                                    
                                }
                                .moment{
                                    font-size: 0.6rem;
                                }
                            }
                        }
                    }
                // }
            }
        }
    }
}

.new-select-box{

    margin-top: 1rem;
    margin-left: 1.3rem;
    max-width: 200px;
    background-color: rgb(46, 34, 78);
    display: flex;
    align-items: center;
    padding: 0.3rem;
    border-radius: 0.2rem;

    .inputlabel{
        text-align: center;
        color: rgb(245, 206, 206);
    }
    
}