@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    box-sizing: border-box;
}

    .container{
        .wrapper{

            background-color: rgb(255, 255, 255);

            .title-box{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                gap: 0.8rem;
                flex-direction: column;
                border-bottom: 0.07rem solid rgba(0, 0, 0, 0.185);
                max-height: 180px;
                margin: 0.5rem;
                background-color: rgb(31, 30, 30);
                color: white;

                .first{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    margin-right: 1rem;

                    .img{
                        height: 3rem;
                        width: auto;
                    }
                    .title{
                        font-family: 'Anton', sans-serif;
                        font-size: 2.5rem;
                    }
                }
                .title2{
                    font-family: 'Anton', sans-serif;
                    font-size: 1.7rem;
                    color: rgb(6, 78, 145);
                }
                .last{

                    .title-body{
                        
                        .sub-body{
                            display: inline;
                            font-weight: bold;
                            font-size: 1rem;
                        }
                    }
                }
            }
            .chart-container{

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
                
                .chart-box{

                    height: 500px;
                    height: 300px;

                    @media screen and (min-width: 576px) {
                        width: 500px;
                        height: 300px;
                    }
                    @media screen and (min-width: 768px) {
                        width: 650px;
                        height: 380px;
                    }
                    
                    @media screen and (min-width: 992px) {
                        width: 930px;
                        height: 500px;
                    }
                   
                }
            }
            .chart-title-container{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                margin-top: 0.4rem;

                .chart-title-box{

                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 0.6rem;
                    width: 500px;

                    @media screen and (min-width: 576px) {
                        width: 500px;
                    }
                    @media screen and (min-width: 768px) {
                        width: 650px;
                    }
                    
                    @media screen and (min-width: 992px) {
                        width: 900px;

                    }
                    .t-img{
        
                        width: auto;
                        height: 1rem;

                        @media screen and (min-width : 576px) {
                            height: 1rem;
                        }
                        @media screen and (min-width : 768px) {
                            height: 1.4rem;
                        }
                        @media screen and (min-width : 992px) {
                            height: 1.6rem;
                        }
                    }
                    .chart-title{
                        
                        font-family: 'Abril Fatface', cursive;
                        font-size: 1rem;


                        @media screen and (min-width : 576px) {
                            font-size: 1rem;
                        }
                        @media screen and (min-width : 768px) {
                            font-size: 1.2rem;
                        }
                        @media screen and (min-width : 992px) {
                            font-size: 1.4rem;
                        }
                    }
                    .chart-price-box{

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .chart-price{
                        
                            margin-top: 0.2rem;
                            font-size: 0.85;
                            @media screen and (min-width : 576px) {
                                font-size: 0.85;
                            }
                            @media screen and (min-width : 768px) {
                                font-size: 0.9rem;
                            }
                            @media screen and (min-width : 992px) {
                                font-size: 0.98rem;
                            }
                        }
                        .chart-icon{
                             color: rgb(4, 150, 4);
                        }
                        .chart-price{
                            font-size: 0.95rem;
                        }
                    }
                    .chart-select-box{
                        width: 70px;

                        .chart-select{
                            height: 17px;
                            .time{
                                font-size: 0.8rem;
                                margin-top: 0.22rem;
                            }
                        }
                    }
                }
            }
            
        }
        .stat-container{
            background-color: rgb(0, 0, 0);
            display: flex;
            align-items: center;
            justify-content: center;
           color: white;
           margin-top: 2rem;
           
            .stat-grid-container{

                width: 500px;
                display: flex;
                justify-content: space;

                @media screen and (min-width: 576px) {
                    width: 500px;
                }
                @media screen and (min-width: 768px) {
                    width: 650px;
                }
                
                @media screen and (min-width: 992px) {
                    width: 900px;

                }
                
                .stat-grid{

                    .stat-box{
                        padding: 0.2rem;

                        .stat-title{
                            font-size: 1.2rem;
                        }
                        .stat-title-text{
                            font-size: 0.7rem;
                            opacity: 0.7;
                            margin-top: 0.5rem;
                        }

                        .stat-item-box{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-top: 0.3rem;
                            margin-bottom: 1rem;
                            margin-top: 1.2rem;
                            margin-left: 1rem;
                            border-bottom: solid 0.1px rgba(128, 128, 128, 0.322);
                            

                            .stat-item-icon_text{   
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 0.4rem;
                                padding-bottom: 1.3rem;
                                font-size: 0.8rem;
                            }
                            .stat-item-price{
                                padding-bottom: 1.3rem;
                                font-size: 0.9rem;
                                font-weight: bold;
                            }
                        }
                    }
                }
              
            }
        }
        .info-container{

            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;

            .info-grid-container{
                
                width: 500px;
                display: flex;
                margin-top: 1rem;

                @media screen and (min-width: 576px) {
                    width: 500px;
                }
                @media screen and (min-width: 768px) {
                    width: 650px;
                }
                
                @media screen and (min-width: 992px) {
                    width: 900px;

                }

                .info-grid-item{

                    .info-title-box{
                        padding: 1rem;
                        .info-title{
                            font-size: 1.2rem;
                            font-weight: bold;
                            color: rgb(63, 61, 61);
                        }
                        .info-title-description{
                            color: rgb(4, 133, 219);
                            font-size: 0.95rem;
                            margin-top: 0.1rem;
                            h3{
                                color: rgb(63, 61, 61);
                                margin-top: 1rem;
                                margin-bottom: 0.2rem;
                            }
                        }
                    }
                    .info-links-box{

                        padding: 1rem;

                        .info-links-title-box{

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .info-links-title{
                               
                             font-size: 1.2rem;
                             font-weight: bold;
                            //  color: rgb(4, 107, 148);
                            p{
                                display: inline;
                                color: rgb(4, 107, 148);
                            }
                            }
                        }
                        .info-links-item-box{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-top: 0.3rem;
                            margin-bottom: 1rem;
                            margin-top: 1.2rem;
                            margin-left: 1rem;
                            border-bottom: solid 0.1px rgba(128, 128, 128, 0.322);

                            .info-type{
                                padding-bottom: 1.2rem;
                                font-weight: bold;
                            }
                            .info-link{
                                padding-bottom: 1.2rem;
                                text-decoration: none;
                                color: rgb(3, 118, 196);
                                cursor: pointer;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
    